[submodule "themes/soho"]
	path = themes/soho
	url = https://github.com/moisoto/soho.git
[submodule "public"]
	path = public
	url = https://github.com/moisoto/moisoto.github.io.git
	branch = main
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
